*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    width: 500px;
    height: 380px;
    margin: 50px auto;
    border: 10px solid gray;
    border-radius: 20px;
}

#snap{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    color: tomato;
    border-radius: 50%;
    border: 5px solid tomato;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s linear;
}

#snap:hover{
    transform: scale(1.05);
}